body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#main > .inner {
	opacity: 1.0 !important;
}

@media (max-width: 980px) {
	body:before {
		flex-grow: 1;
		flex-shrink: 0;
		max-height: 45vh;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
}